body {
    width: 1400px;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
}

/* HEADER */
.header {
    background-color: #4cb1ca;
    height: 45px;
}

.blockleo {
    width: 1024px;
    margin: 0 auto;
}

.h-left {
    float: left;
    margin-top: 15px;
}

.h-left p {
    margin-top: 0;
}

.h-left ul {
    padding: 0;
    margin: 0;
}

.h-left li, .h-right li {
    display: inline-block;
    list-style-type: none;
}

.h-left p, .h-right p {
    display: inline-block;
}

.h-left p:first-child {
    color: #bef2ff;
}

.h-left li:nth-child(2) p:nth-child(2) {
    text-transform: uppercase;
    color: white;
}

.h-left li:nth-child(1) p:nth-child(2), .h-right li {
    color: white;
}

.h-right li a {
    text-decoration: none;
    color: white;
}

.h-left ul > li {
    margin-right: 15px;
}

.h-left label {
    color: #bef2ff;
}
.h-left select {
    background-color: rgba(0,0,0,0);
    border: none;
    color: white;
    font-size: 14px;
}
.h-left select[name="language"] {
    width: 70px;
    margin-right: 15px;
}
.h-left select[name="currency"] {
    width: 50px;
    text-transform: uppercase;
}
#currency option {
    text-transform: uppercase;
}

.h-right {
    float: right;
}

.h-right li {
    border-left: 1px solid white;
    padding-left: 10px;
    padding-right: 5px;
}

.h-right li:first-child {
    border: none;
    padding-right: 5px;
}

.top-left {
    float: left;
}

.top-right {
    width: 350px;
    float: right;
}

.top-block {
    height: 78px;
    padding-top: 25px;
}

.logo {
    display: inline-block;
    color: #656565;
    font-size: 32px;
    text-transform: uppercase;
    font-weight: bold;
}

.navigation li a {
    color: #656565;
    text-decoration: none;
}

.nav {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    color: #656565;
}

.nav ul {
    overflow: auto;
    margin: 0;
}

.nav li {
    display: inline-block;
    text-transform: uppercase;
    list-style-type: none;
    margin-left: 15px;
}

.top-right input {
    height: 30px;
}

.search-top {
    width: 16px;
    height: 16px;
}

.search {
    width: 50%;
    position: relative;
    display: flex;
}
.searchTerm {
    width: 70%;
    border: 1px solid #C6C6C6;
    border-right: none;
    height: 30px;
    outline: none;
    color: grey;
    padding-left: 10px;
}

.searchButton {
    width: 34px;
    height: 34px;
    border: 1px solid #C6C6C6;
    background: white;
    text-align: center;
    color: #656565;
    border-left: none;
    cursor: pointer;
    margin: -6px;
}

.icon {
    background-color: #7DB122;
    width: 36px;
    height: 36px;
    border-radius: 18px;
}

.search, .icon {
    display: inline-block;
}

.icon > i {
    padding: 10px;
    color: white;
}

.top-right p {
    display: inline-block;
    margin: 0 0 0 10px;
    text-transform: uppercase;
    color: #656565;
    font-weight: bold;
}

/* MAIN */
.banner {
    position: relative;
    height: 475px;
    text-align: center;
    overflow: hidden;
    margin-bottom: 47px;
}

.banner-nav div:nth-child(1) {
    width: 68px;
    height: 68px;
    border-radius: 35px;
    background-color: #CDCDCD;
    font-size: 54px;
    position: absolute;
    top: 200px;
    left: 100px;
    cursor: pointer;
}

.banner-nav div:nth-child(2) {
    width: 68px;
    height: 68px;
    border-radius: 35px;
    background-color: #CDCDCD;
    font-size: 54px;
    position: absolute;
    top: 200px;
    right: 100px;
    cursor: pointer;
}

.banner-nav div:nth-child(3) {
    position: absolute;
    top: 180px;
    left: 285px;
    text-align: left;
}

.banner-nav p:first-of-type {
    background-color: #6C665E;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px 10px 10px 20px;
    font-size: 26px;
    color: white;
    width: 285px;
    box-sizing: border-box;
    margin: 2px;
}

.banner-nav p:last-of-type {
    background-color: #6C665E;
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    width: 329px;
    text-align: center;
    box-sizing: border-box;
    margin: 2px;
}

.cont-left {
    display: inline-block;
    width: 760px;
}

.cont-left p {
    font-family: Arial;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #635F57;
    margin-top: 0;
}

.cont-right {
    width: 235px;
    float: right;
}

.cont-left ul {
    padding: 0;
}

.cont-left li {
    display: inline-block;
    width: 235px;
    margin-left: 22px;
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    padding: 8px;
}

.cont-left li:nth-child(3n+1), .cont-left li:nth-child(1) {
    margin-left: 0;
    margin-bottom: 21px;
}

.cont-li div:first-of-type {
    background-color: #eee;
    text-align: center;
}

.cont-li div:last-of-type {
    margin: 10px 0;
}

.cont-li div:last-of-type div:first-of-type {
    font-size: 14px;
    float: left;
    width: 76%;
    background-color: white;
    text-align: left;
    line-height: 22px;
}

.cont-li div:last-of-type div:last-of-type {
    width: 48px;
    height: 48px;
    background-color: #7DB122;
    border-radius: 25px;
    float: right;
    margin: 0;
}

.ico-li {
    position: relative;
    top: 10px;
    left: 11px;
}

div.text-li {
    font-size: 14px;
    float: left;
    width: 76%;
}

.text-li span {
    color: #7DB122;
    font-size: 14px;
}

.side {
    position: relative;
    border-top: 4px solid #4cb1ca;
}

.cont-right > div:nth-of-type(1) {
    margin-bottom: 30px;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
}

.side p:first-child {
    text-align: center;
    font-size: 28px;
    text-transform: uppercase;
    color: #635F57;
    margin: 23px 0;
}

.side-content p:nth-child(2) {
    border-left: 13px solid white;
    border-right: 13px solid white;
    border-bottom: 13px solid white;
    border-top: 0;
    margin: 0;
    overflow: hidden;
    height: 315px;
}

.side-content img {
    position: relative;
    right: 15px;
    bottom: 55px;
}

.btn-side {
    position: absolute;
    background-color: #4CB1CA;
    width: 133px;
    color: white;
    text-align: center;
    left: 50px;
    bottom: 70px;
    padding: 13px 0;
}

.side-content ul {
    text-align: center;
    margin: 0;
    padding: 10px 0;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

.side-content li {
    display: inline-block;
    list-style: none;
    background-color: #7db122;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin: 0 4px;
}

li.blue-li {
    background-color: #4cb1ca;
}

.subscribe {
    text-align: center;
    border-top: 4px solid #4cb1ca;
    border-left: 1px solid #eee;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
    padding: 10px;

}

.subscribe p:first-of-type {
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    color: #635F57;
    font-size: 24px;
}

.subscribe p:last-of-type {
    font-size: 15px;
    color: #696969;
}

.subscribe hr {
    width: 85px;
    color: #eee;
    margin-bottom: 15px;
}

.subscribe input[type="text"] {
    width: 186px;
    height: 24px;
    font-size: 18px;
}

.subscribe input[type="submit"] {
    margin-top: 17px;
    margin-bottom: 10px;
    background-color: #7EB123;
    width: 113px;
    height: 45px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
}

.sale-block {
    position: absolute;
    text-transform: uppercase;
}

.sale-block img:nth-of-type(1) {
    position: relative;
    right: 10px;
    bottom: 14px;
}

.sale-block img:nth-of-type(2) {
    position: relative;
    right: 110px;
    bottom: 11px;
}

.sale-block img:nth-of-type(3) {
    position: relative;
    right: 119px;
    bottom: 100px;
}

.sale-block img:nth-of-type(4) {
    position: relative;
    right: 222px;
    bottom: 9px;
}

.sale-block span {
    position: absolute;
    z-index: 1;
    transform: rotate(-45deg);
    transform-origin: top right;
    color: white;
}

.sale-new-block {
    position: absolute;
    text-transform: uppercase;
}

.sale-new-block img:nth-of-type(1) {
    position: relative;
    left: 134px;
    bottom: 14px;
}

.sale-new-block img:nth-of-type(2) {
    position: relative;
    left: 33px;
    bottom: 11px;
}

.sale-new-block img:nth-of-type(3) {
    position: relative;
    right: 71px;
    bottom: 100px;
}

.sale-new-block img:nth-of-type(4) {
    position: relative;
    left: 13px;
    bottom: 9px;
}

.sale-new-block span {
    position: absolute;
    z-index: 1;
    transform: rotate(45deg);
    transform-origin: top left;
    color: white;
    left: 184px;
    font-family: Arial;
    font-weight: bold;
}

/* Footer */
.order-call {
    background-color: #4cb1ca;
    overflow: hidden;
}

.order-call p {
    display: inline-block;
    margin: 20px 0;
}

.order-call p:first-of-type {
    display: inline-block;
    width: 66px;
    height: 66px;
    background-color: white;
    border-radius: 35px;
}

.left-fa {
    float: left;
}
.right-fa {
    float: right;
    margin-right: 20px;
}

.left-fa i {
    font-size: 35px;
    padding: 16px 15px;
    color: #4cb1ca;
}

.right-fa i {
    font-size: 35px;
    padding: 16px 19px;
    color: #4cb1ca;
}

.order-call p {
    font-size: 20px;
    text-transform: uppercase;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.order-call p + p:last-of-type {
    position: relative;
    bottom: 5px;
    left: 15px;
}

.foo-block {
    background-color: #0B4B5A;
    height: 60px;
    overflow: hidden;
    color: #84D4E8;
    font-size: 14px;
}

.foo-block .h-left {
    margin-top: 22px;
}
.foo-block .h-right {
    padding: 8px 0;
}

.info-block {
    background-color: #39a0b9;
    overflow: hidden;
    color: white;
}

.info-block h3 {
    font-size: 18px;
    text-transform: uppercase;
    font-weight: normal;
}

.info-block .blockleo div {
    display: inline-block;
}

.info-block .blockleo div:nth-of-type(1), .info-block .blockleo div:nth-of-type(2) {
    width: 235px;
    float: left;
    margin-right: 70px;
}
.info-block .blockleo div:nth-of-type(3) {
    width: 190px;
}

.info-block .blockleo div:nth-of-type(4) {
    width: 182px;
}
.info-block .blockleo div:nth-of-type(3) {
    float: left;
}
.info-block .blockleo div:nth-of-type(4) {
    float: right;
}

.faces {
    padding-left: 0;
    margin: 5px 0;
}

ul.faces li {
    display: inline-block;
    margin-right: 5px;
}

.faces + p {
    border-top: 1px solid #4cb1ca;
    margin: 10px 0;
    padding-top: 10px;
}

.likes {
    border-bottom: 1px solid #4cb1ca;
    padding-bottom: 5px;
    margin: 10px 0;
}

.info-block .blockleo div:nth-of-type(2) li {
    list-style-type: none;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
}

.info-block .blockleo div:nth-of-type(2) ul,
.info-block .blockleo div:nth-of-type(4) ul {
    padding: 0;
}

.info-block .blockleo div:nth-of-type(2) li:first-of-type {
    float: left;
    background-color: white;
    border-radius: 25px;
    width: 45px;
    height: 45px;
    color: #39a0b9;
    font-size: 27px;
}

.info-block .blockleo div:nth-of-type(2) li:first-of-type i {
    margin: 9px 11px;
}

.info-block .blockleo div:nth-of-type(2) li:last-of-type {
    width: 71%;
    margin-left: 20px;
}

.info-block .blockleo div:nth-of-type(3) i {
    margin-right: 10px;
}

.info-block .blockleo div:nth-of-type(3) p,
.info-block .blockleo div:nth-of-type(4) p {
    font-size: 14px;
}

.info-block .blockleo div:nth-of-type(4) li {
    list-style: none;
    display: inline-block;
    background-color: white;
    font-size: 22px;
    color: #39a0b9;
    width: 36px;
    height: 36px;
    border-radius: 20px;
    text-align: center;
    margin-right: 6px;
}

.info-block .blockleo div:nth-of-type(4) li i {
    margin-top: 6px;
}
.info-block .blockleo div:nth-of-type(4) p:last-of-type {
    border-bottom: 1px solid #4cb1ca;
    padding-bottom: 10px;
}